version: '3.8'

services:
  db_postgres:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env

  db_mongodb:
    image: mongo:4.4
    volumes:
      - mongodb_data:/data/db
    env_file:
      - .env

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db_postgres
      - db_mongodb

volumes:
  postgres_data:
  mongodb_data: